In [1]:
def my_function():
    print("hello class")
    print("we are learning python")

In [2]:
my_function()

hello class
we are learning python

In [3]:
def contact():
    print("Contact details of the school")
    print("Delhi public school")
    print("Uttar pradesh")
    print("7991271384")
    print("dps.contact@gmail.com")

In [4]:
for i in range(4):
    a = input("name of the student")
    b = int(input("Enter the marks of maths"))
    c = int(input("Enter the marks of Science"))
    d = int(input("Enter the marks of Social"))
    print()
    contact()

name of the student Soni
Enter the marks of maths 89
Enter the marks of Science 87
Enter the marks of Social 67

Contact details of the school
Delhi public school
Uttar pradesh
7991271384
dps.contact@gmail.com

name of the student Mohit
Enter the marks of maths 76
Enter the marks of Science 87
Enter the marks of Social 98

Contact details of the school
Delhi public school
Uttar pradesh
7991271384
dps.contact@gmail.com

name of the student Sakshi
Enter the marks of maths 78
Enter the marks of Science 67
Enter the marks of Social 98

Contact details of the school
Delhi public school
Uttar pradesh
7991271384
dps.contact@gmail.com

name of the student Kavita
Enter the marks of maths 98
Enter the marks of Science 67
Enter the marks of Social 87

Contact details of the school
Delhi public school
Uttar pradesh
7991271384
dps.contact@gmail.com

In [5]:
def my_function(fname):
    print(fname + " " "maurya")

In [6]:
my_function("pooja")
my_function("sakshi")

pooja maurya
sakshi maurya

In [7]:
def my_function(fname, lname):
    print(fname + " " + lname)

In [8]:
my_function("shreya", "verma")

shreya verma

In [9]:
def electricity_bill(n):
    if n<=500:
        print("your bill is Rs", n*5)
    elif n>=500 and n<=700:
        print("your bill is Rs", n*10)
    elif n>700 and n<=1000:
        print("your bill is Rs", n*15)
    elif n>1000:
        print("your bill is Rs", n*20)

In [10]:
def instructions():
    print("last date of paying the bill is 20 april")
    print("after 20 april you need to pay 1000 Rs as a fine")
    print("electricity office new delhi")

In [11]:
for i in range(3):
    a = input("enter the name of a customer")
    n = int(input("enter the unit of electricity you have used"))
    electricity_bill(n)

enter the name of a customer Avantika
enter the unit of electricity you have used 787

your bill is Rs 11805

enter the name of a customer Neha
enter the unit of electricity you have used 876

your bill is Rs 13140

enter the name of a customer Manisha
enter the unit of electricity you have used 500

your bill is Rs 2500